<!--FOOTER-->
<footer class="container-fluid bg-footer-header-color" id="footer">
    <div class="container">
        <div class="row">
            <!--FOOTER TOP-->
            <div class="col-12" id="footer-top">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <h2>Pet Hellper</h2>
                    </div>
                    <div class="col-4" id="social-icons">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-youtube"></i>
                        <i class="bi bi-twitter"></i>
                    </div>
                </div>
            </div>
            <!--FOOTER DETAILS-->
            <div class="col-12" id="footer-details">
                <div class="row">
                    <div class="col-12 col-md-6" id="news-container">
                        <h4>Fique por dentro</h4>
                        <p class="primary-color">Inscreva-se</p>
                        <form action="">
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Digite o seu e-mail">
                            </div>
                            <button class="btn btn-dark enviar" type="submit"><a href="mailto:pethelper@gmail.com">Inscrever</a></button>
                        </form>
                    </div>
                    <div class="col-12 col-md-6" id="contact-container">
                        <h4>Formas de contato</h4>
                        <p class="primary-color">(99)99999-9999</p>
                        <p class="primary-color">pethelper@gmail.com</p>
                    </div>
                    
                </div>
            </div>
            <!--FOOTER BOTTOM-->
            <div class="col-12" id="footer-bottom">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-3">
                        <p class="primary-color">Pet Helpper &copy; 2021</p>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="primary-color">Projeto Integrador Univesp
                            <i class="bi bi-heart"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>