<nav class="navbar navbar-expand-lg fixed-top bg-footer-header-color" id="navbar">
  <div class="container py-3">
      <a class="navbar-brand" href="#"><img src="/assets/logo.png" alt="pethellper">
          <span class="primary-color">Pet Helper </span>
      </a>
      
      <div class="collapse navbar-collapse" id="navbar-items">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
              <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/ongs">Ongs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/usuarios">Usuarios</a>
              </li>
          </ul>
        
          <form class="d-flex cadastro">             
              <button class="btn btn-danger" type="submit"> <a href="cadastraOng.php">CADASTRE-SE AQUI!</a> </button>
          </form>
         
      </div>
  </div>
</nav>

