<br>
<br>
<br>
<br>
<br>
<br>

<form (ngSubmit)="submit()"[formGroup]="comboForm" #formDir="ngForm">
    <input type="hidden" formControlName="id">
    
    
    <div class="form-group">
        <label for="nome">Produto 1</label>
        <input type="text" 
        placeholder="Digite o nome do produto:" 
        formControlName="produto1" 
        required>
        <div *ngIf="produto1.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="produto1.errors?.['required']">Produto obrigatório!</p>
        </div>
    </div>
    <div class="form-group">
        <label for="nome">Produto 2</label>
        <input type="text" 
        placeholder="Digite o nome do produto:" 
        formControlName="produto2" 
        required>
        <div *ngIf="produto2.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="produto2.errors?.['required']">Produto obrigatório!</p>
        </div>
    </div>
    <div class="form-group">
        <label for="nome">Produto 3</label>
        <input type="text" 
        placeholder="Digite o nome do produto:" 
        formControlName="produto3" 
        required>
        <div *ngIf="produto3.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="produto3.errors?.['required']">Produto obrigatório!</p>
        </div>
    </div>
    <div class="form-group">
        <label for="nome">Produto 4</label>
        <input type="text" 
        placeholder="Digite o nome do produto:" 
        formControlName="produto4" 
        required>
        <div *ngIf="produto4.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="produto4.errors?.['required']">Produto obrigatório!</p>
        </div>
    </div>
    <div class="form-group">
        <label for="nome">Valor</label>
        <input type="text" 
        placeholder="Digite o valor do combo:" 
        formControlName="valor" 
        required>
        <div *ngIf="valor.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="valor.errors?.['required']">Valor obrigatório!</p>
        </div>
    </div>


    
    <input type="submit" value="{{btnText}}">
</form>
