
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <main class="container">
    <h1 class="text-center">Administração</h1>
    <br>
    <br>
    <div class="row text-center">
      <div class="col-md-3 opcoes">
        <a routerLink="../ongs">
          <i class="bi bi-building"></i>
          <p>Cadastrar Ong</p>
        </a>
      </div>
      <div class="col-md-3 opcoes">
        <a routerLink="../usuarios">
          <i class="bi bi-person-plus-fill"></i>
          <p>Cadastrar Usuario</p>
        </a>
      </div>
      <div class="col-md-3 opcoes">
        <a routerLink="../banners">
          <i class="bi bi-bookmarks"></i>
          <p>Cadastrar Banner</p>
        </a>
      </div>
      <div class="col-md-3 opcoes">
        <a routerLink="../combo">
          <i class="bi bi-upc-scan"></i>
          <p>Cadastrar Combo</p>
        </a>
      </div>
    </div>

