<br>
<br>
<br>
<br>
<br>
<div class="home-container">
    <h1>Combos cadastrados:</h1>
    <div class="search-container">
        <form >
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Buscar Combo"
            (input)="search($event)"
            >
        </form>
    </div>

    <div *ngIf="combo.length > 0; else noCombo ">            
                    <!--IMAGEM COM O LOGOTIPO DAS ONGS-->
                    <div class="ongs-container">
                        <div class="ong" *ngFor="let combo of combos">
                            
                            <div class="banner-content">
                                <p class="secondary-color">COMBO</p>
                                
                                <h3>COMBO {{combo.id}}</h3>
                               
                              
                                                              
                            </div>
                          
                        </div>

                    </div>
                    
                   

        </div>
        <ng-template #noCombo>
            <h1>Não registros no sistema!</h1>
        </ng-template>
        

    
</div>