<br>
<br>
<br>
<br>
<br>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/banner1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/banner2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/banner3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!--DESTAQUES-->
<div class="container" id="featured-container">

    <div class="col-12" id="featured-images">

        <div class="row g-4">
            
                    <!--IMAGEM COM O LOGOTIPO DAS ONGS-->
                    <div class="col-12 col-md-4">
                        <img src="" class="img-fluid">
                        <div class="banner-content">
                            <p class="secondary-color">ONG</p>
                            <h3>teste1</h3>

                            <form action="doacao.php" method="POST">
                                <input type="hidden" name="nome" value="">
                                <input type="hidden" name="id" value="">
                                <button type="submit" name="btn-doar" class="btn btn-danger">DOAR</button>

                            </form>
                            
                        </div>
                        <h3 class="text-center">teste2</h3>
                    </div>

        </div>

    </div>
</div>
<!--INFORMAÇÕES -->
<div class="container" id="info-container">
    <div class="col-12">
        <h2 class="title primary-color">Detalhes Importantes</h2>
        <p class="subtitle primary-color">
            Saiba mais sobre o nosso projeto
        </p>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-5" id="info-banner">
                <img src="/assets/cidadeparallax.png" alt="Informações da Empresa" class="img-fluid">
            </div>
            <div class="col-12 col-md-7 bg-secondary-color" id="info-content">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title primary-color">Estes dados fazem a diferença</h2>
                        <p class="subtitle primary-color">
                        O projeto surgiu como uma solução para as dificuldades encontradas pelas Ongs na arrecadação 
                        de suprimentos e captação de recursos para a manutenção da Organização, situação que se agravou
                        com a pandemia. Atualmente o projeto consta com mais de 10 organizações cadastradas e pretende 
                        elevar esse numero a um patamar muito mais elevado, podendo assim contribuir com ajuda para causa 
                        animal.      
                      

                        </p>
                    </div>
                    
  
                    <div class="col-12" id="info-numbers">
                        <div class="row">
                            <div class="col-4">
                                <h2 class="text-center">DOAÇÕES</h2>
                                <h3 class="primary-color text-center">teste3</h3>
                                <p class="primary-color text-center">Doações</p>
                            </div>

                            <div class="col-4">
                            <h2 class="text-center">ONGS</h2>
                                <h3 class="primary-color text-center">teste4</h3>
                                <p class="primary-color text-center">ONGS Cadastradas</p>
                            </div>

                            <div class="col-4">
                            <h2 class="text-center">VALORES</h2>
                                <h3 class="primary-color text-center">teste5</h3>
                                <p class="primary-color text-center">Valores arrecadados</p>
                            </div>
                        </div>
                    </div>
                   

                </div>
                <div class="col-12" id="info-contato">
                       
                       </div>

            </div>
        </div>
    </div>
</div>
