<br>
<br>
<br>
<br>

<div class="ong" *ngIf="combo">
    <h1>{{combo.id}}</h1>
    <div class="about-ong">
        <h3>Detalhes:</h3>
        <p>{{combo.produto1}}</p>
        <p>{{combo.produto2}}</p>
        <p>{{combo.produto3}}</p>
        <p>{{combo.produto4}}</p>
        <p>{{combo.valor}}</p>
       
        
    </div>
    <div class="actions">
        <h3>Ações:</h3>
        <a routerLink="/combos/edit/{{combo.id}}" class="edit-btn">
            <i class="bi bi-pencil-square"></i>Editar
        </a>
       <button class="remove-btn" (click)="removeHandler(combo.id!)">
        <i class="bi bi-trash" ></i>Excluir
       </button>
    
</div>
